<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kiri.nstp.dao.DiagnosticLogDao">

	<select id="getLog" parameterType="EcuSearchMessage" resultType="DiagnosticLog">
		select distinct log.id, log.ecuid, log.operateTime, log.operator
		from diag_log as log		
		<if test="userGroupSet!=null and userGroupSet.size()>0">
			join user_group_role as ugr 
			on log.operator = ugr.username 
			join resource_group as g
			on ugr.gid = g.gid and g.gname in 
			<foreach item="item" index="index" collection="userGroupSet" open="(" separator="," close = ")">
				#{item}
			</foreach>
		</if>
		<where>
			<if test="id != null and id !=0"> and log.id = #{id}</if>
			<if test="username!=null and username!=''"> and operator = #{username}</if>
			<if test="ecuid!=null and ecuid!=''"> and ecuid like concat('%', #{ecuid}, '%')</if>
		</where>
		order by operateTime desc
	</select>
	
	<insert id="addLog" parameterType="DiagnosticLog">
		insert into diag_log
		(ecuid, operateTime, operator)
		values
		(#{ecuid}, now(), #{operator})
	</insert>
</mapper>